.text-decorator-none{
    text-decoration: none !important;
    

}

.titulo{
    color: blue !important; 
    text-align: center !important;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
.fotofundo{
   /* background-image : url(https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
   background-repeat: no-repeat;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1/sua/imagem.jpg);
   width: 1000px;
   min-height: 640px;
}
.nome{
   color: white !important;
    font-weight: bold !important;
    font-size: 70px !important;
    
}
.botaohome{
  border-color: rgb(0, 0, 0) !important;
   background-color: #f7fa7d !important;
    color: rgb(0, 0, 0) !important;
}

.the-box {
    margin: 0 1rem;
}